[DEV]
app_infra_stack_name = EcsCdkStack
workload_account = 629956889668
deployment_region = us-east-1
ecs_cluster=DEVContainerStack-ECSCluster-FWcpmCtgTUV5
ecs_service_arn=arn:aws:ecs:us-east-1:629956889668:service/DEVContainerStack-ECSCluster-FWcpmCtgTUV5/DEVContainerStack-ECSService-TZLbzxKhN2tB
ssm_target_account_ids = 629956889668


